/* HOME */
.conteHome {
  display: grid;
  grid-template-areas: "card1 card2 card3" "card4 card5 card6";
  justify-content: center;
  margin-bottom: 20rem;
  margin-top: 10rem;
  gap: 2rem; }
  .conteHome .conteCard1 {
    grid-area: card1;
    background-color: beige;
    padding: 1.5rem;
    border-radius: 10px; }
  .conteHome .conteCard2 {
    grid-area: card2;
    background-color: beige;
    padding: 1.5rem;
    border-radius: 10px; }
  .conteHome .conteCard3 {
    grid-area: card3;
    background-color: beige;
    padding: 1.5rem;
    border-radius: 10px; }
  .conteHome .conteCard4 {
    grid-area: card4;
    background-color: beige;
    padding: 1.5rem;
    border-radius: 10px; }
  .conteHome .conteCard5 {
    grid-area: card5;
    background-color: beige;
    padding: 1.5rem;
    border-radius: 10px; }
  .conteHome .conteCard6 {
    grid-area: card6;
    background-color: beige;
    padding: 1.5rem;
    border-radius: 10px; }
  .conteHome a {
    text-decoration: none; }
  .conteHome .imgCard1:hover {
    transform: scale(1.2);
    transition: 0.3s; }
  .conteHome .conteBot {
    margin: 1rem;
    text-align: center; }
  .conteHome .imgCard1 {
    width: 20vw; }

/* media de Home */
@media screen and (min-width: 320px) {
  .conteHome {
    grid-template-areas: "card1"  "card2" "card3" "card4" "card5"  "card6";
    margin-bottom: 20rem;
    row-gap: 2rem; } }

@media screen and (min-width: 600px) {
  .conteHome {
    grid-template-areas: "card1 card2"  "card3 card4" "card5 card6"; } }

@media screen and (min-width: 1024px) {
  .conteHome {
    grid-template-areas: "card1 card2 card3" "card4 card5 card6"; } }

/* PRODUCTOS */
.contenedor .cardCard01, .contenedor .cardCard02, .contenedor .cardCard03, .contenedor .cardCard04, .contenedor .cardCard05, .contenedor .cardCard06 {
  background-color: beige;
  padding: 1.5rem;
  border-radius: 10px; }

.contenedor {
  display: grid;
  grid-template-areas: "prod1 prod2 prod3" "prod4 prod5 prod6";
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 20rem;
  gap: 1rem;
  text-align: center; }
  .contenedor .cardCard01 {
    grid-area: prod1; }
  .contenedor .cardCard02 {
    grid-area: prod2; }
  .contenedor .cardCard03 {
    grid-area: prod3; }
  .contenedor .cardCard04 {
    grid-area: prod4; }
  .contenedor .cardCard05 {
    grid-area: prod5; }
  .contenedor .cardCard06 {
    grid-area: prod6; }
  .contenedor .contextCard {
    margin-top: 1.5rem; }
  .contenedor .imgCard {
    width: 15vw; }
  .contenedor .imgCard:hover {
    transform: scale(1.2);
    transition: 0.5s; }
  .contenedor .botonComprar {
    margin-top: 1rem;
    padding: 0.5rem; }
  .contenedor .contenedorBoton {
    text-align: center; }

h3 {
  font-size: 1rem; }

/* media de productos */
@media screen and (min-width: 320px) {
  .contenedor {
    display: grid;
    grid-template-areas: "prod1"  "prod2"  "prod3"                         "prod4"  "prod5"  "prod6";
    row-gap: 1rem; } }

@media screen and (min-width: 600px) {
  .contenedor {
    display: grid;
    grid-template-areas: "prod1 prod2"  "prod3 prod4"  "prod5 prod6";
    row-gap: 1rem; } }

@media screen and (min-width: 1024px) {
  .contenedor {
    display: grid;
    grid-template-areas: "prod1 prod2 prod3" "prod4 prod5 prod6"; } }

/* CONTACTO */
.contePreg {
  margin-top: 2rem;
  list-style: none;
  margin-bottom: 15rem; }
  .contePreg .pregunta {
    background-color: aquamarine;
    text-align: center;
    padding: 10px; }
  .contePreg .forma {
    background-color: bisque;
    padding-left: 60px;
    line-height: 25px; }

form {
  margin-bottom: 20rem; }
  form fieldset {
    margin: 20px;
    align-items: center;
    padding: 5px;
    border: 1px solid black; }
  form legend {
    text-align: center;
    border-bottom: 1px solid black; }
  form .boton-form {
    margin: 1rem; }
  form .legend1 {
    margin: 12px; }
  form label, form input {
    padding: 5px; }

/* NOSOTROS */
.contenedorNos {
  display: grid;
  grid-template-areas: "imagen imagen" "titulo1 titulo2" "titulo3 titulo4";
  margin-bottom: 20rem;
  gap: 3rem;
  text-align: center; }
  .contenedorNos .imagenNos {
    grid-area: imagen; }
  .contenedorNos .bloques1 {
    grid-area: titulo1;
    padding: 1rem; }
  .contenedorNos .bloques2 {
    grid-area: titulo2;
    padding: 1rem; }
  .contenedorNos .bloques3 {
    grid-area: titulo3;
    padding: 1rem; }
  .contenedorNos .bloques4 {
    grid-area: titulo4;
    padding: 1rem; }
  .contenedorNos .tituloNos {
    background-color: aquamarine;
    border-radius: 11rem;
    padding: 0.7rem;
    display: inline-block;
    margin-bottom: 1rem; }
  .contenedorNos .parrafo {
    text-align: justify; }

.imagenNos {
  text-align: center;
  margin-bottom: 2rem; }
  .imagenNos .imgCardnos {
    width: 30vw;
    margin-top: 2rem; }

/* media de nosotros */
@media screen and (min-width: 320px) {
  .contenedorNos {
    grid-template-areas: "imagen" "titulo1"  "titulo2" "titulo3"  "titulo4";
    margin: 1.5rem; } }

@media screen and (min-width: 600px) {
  .contenedorNos {
    grid-template-areas: "imagen" "titulo1"  "titulo2" "titulo3"  "titulo4";
    margin: 3rem; } }

@media screen and (min-width: 1024px) {
  .contenedorNos {
    grid-template-areas: "imagen imagen" "titulo1 titulo2" "titulo3 titulo4"; } }

/* PREGUNTAS FRECUENTES */
.contenedorPr {
  margin-bottom: 20rem;
  display: grid;
  grid-template-areas: "fila1" "fila2" "fila3" "fila4";
  gap: 2rem;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 10rem; }
  .contenedorPr .contePr01 {
    grid-area: fila1;
    background-color: beige; }
  .contenedorPr .contePr02 {
    grid-area: fila2;
    background-color: beige; }
  .contenedorPr .contePr03 {
    grid-area: fila3;
    background-color: beige; }
  .contenedorPr .contePr04 {
    grid-area: fila4;
    background-color: beige; }
  .contenedorPr .preguntas {
    text-align: left;
    margin: 10px;
    padding: 5px; }
  .contenedorPr .parrafo-p {
    text-align: justify;
    line-height: 20px;
    margin: 10px; }

/* media de preguntas */
@media screen and (min-width: 320px) {
  .contenedorPr {
    grid-template-areas: "fila1"  "fila2" "fila3" "fila4";
    margin: 2rem; } }

@media screen and (min-width: 600px) {
  .contenedorPr {
    grid-template-areas: "fila1"  "fila2" "fila3" "fila4";
    margin: 3rem; } }

@media screen and (min-width: 1024px) {
  .contenedorPr {
    grid-template-areas: "fila1"  "fila2" "fila3" "fila4";
    margin: 10rem; } }

/* footer */
footer {
  text-align: center;
  background-color: skyblue;
  padding: 15px; }
