// modifiicacion de productos 

// import

@import "utilities/variables";

// mixin 

@mixin grid{
    background-color: $color-1;
    padding: $tamaño-2;
    border-radius: 10px;
}

// nesting

/* HOME */

.conteHome{
    display: grid;
    grid-template-areas: "card1 card2 card3"
                         "card4 card5 card6";
    justify-content: center;
    margin-bottom: 20rem;
    margin-top: 10rem;
    gap: 2rem;
    
.conteCard1{
    grid-area: card1;
    @include grid; 
}

.conteCard2{
    grid-area: card2;
    @include grid;  
}

.conteCard3{
    grid-area: card3;
    @include grid;
}

.conteCard4{
    grid-area: card4;
    @include grid;
}

.conteCard5{
    grid-area: card5;
    @include grid;
}

.conteCard6{
    grid-area: card6;
    @include grid;;
}
a{
    text-decoration: none;
}
.imgCard1:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.conteBot{
    margin: 1rem;
    text-align: center;
}
.imgCard1{
    width: 20vw;
}
}

/* media de Home */

@media screen and (min-width:320px) {
    .conteHome{
        grid-template-areas: "card1" 
                             "card2"
                             "card3"
                             "card4"
                             "card5" 
                             "card6";
        margin-bottom: 20rem;
        row-gap: 2rem;
    }
    
}

@media screen and (min-width:600px) {
    .conteHome{
        grid-template-areas: "card1 card2" 
                             "card3 card4"
                             "card5 card6";
    }
    
}

@media screen and (min-width:1024px) {
    .conteHome{
        grid-template-areas: "card1 card2 card3"
                             "card4 card5 card6";
    }
    
}

/* PRODUCTOS */

// lo puse aca porque sino lo manda arriba en el codigo 

// extend 

%grid {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid rgb(154, 148, 148);
    padding: $tamaño-2;
    border-radius: 10px;
}

.contenedor{
    display: grid;
    grid-template-areas: "prod1 prod2 prod3"
                         "prod4 prod5 prod6";
    justify-content: center;
    margin-top: $tamaño-3;
    margin-bottom: $tamaño-5;
    gap: $tamaño-1;
    text-align: $just-text-1;

    .cardCard01{
        grid-area: prod1;
        @extend %grid;
    }
    
    .cardCard02{
        grid-area: prod2;
        @extend %grid;
    }
    
    .cardCard03{
        grid-area: prod3;
        @extend %grid;
    }
    
    .cardCard04{
        grid-area: prod4;
        @extend %grid;
    }
    
    .cardCard05{
        grid-area: prod5;
        @extend %grid;
    }
    
    .cardCard06{
        grid-area: prod6;
        @extend %grid;
    }
    
    .contextCard{
        border-top: 1px solid black;
        padding-top: 1rem;
        margin-top: $tamaño-2;
        font-family: 'Lato', sans-serif;
        line-height: 30px;
        .tituloCard{
            font-weight: 700;
            font-size: 16px;
        }
        .precioCard{
            font-size: 1.5rem;
        }
    }
    
    .imgCard{
        width: ($imagen-1) - 5;
    }
    
    .imgCard:hover{
        transform: scale(1.1);
        transition: 0.3s;
    }

    .contenedorBoton .botonComprar{
        padding: 20px 60px;
        background: rgb(233, 52, 233);
        border: 1px solid #ccc;
        cursor: pointer;
        position: relative;
        border-radius: 25px;
        overflow: hidden;
    }
    
    .botonComprar::before{
        content: 'Comprar' ;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 700;
        transition: 0.2s ease;
    }

    .botonComprar::after{
        content: 'proximamente' ;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 700;
        transition: 0.1s ease;
        opacity: 0;
    }

    .botonComprar:hover::before{
        transform: translate(-50%, -50%);
        opacity: 0;
    }

    .botonComprar:hover::after{
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    .contenedorBoton .botonComprar:hover{
        background-color: violet;
        box-shadow: 0 5px 10px 0 rgba(0,0,0,0.24), 0 5px 15px 0 rgba(0,0,0,0.19);
        transition-duration: 0.4s;   
    }
} 
 /* media de productos */

@media screen and (min-width:320px) {
    .contenedor{
        display: grid;
        grid-template-areas: "prod1" 
                             "prod2" 
                             "prod3"                        
                             "prod4" 
                             "prod5" 
                             "prod6";
        row-gap: $tamaño-1;

    }

}

@media screen and (min-width:600px) {
    .contenedor{
        display: grid;
        grid-template-areas: "prod1 prod2" 
                             "prod3 prod4" 
                             "prod5 prod6";
        row-gap: $tamaño-1;
    }

}



@media screen and (min-width:1024px) {
    .contenedor{
        display: grid;
        grid-template-areas: "prod1 prod2 prod3"
                             "prod4 prod5 prod6";
    }
}

/* CONTACTO */

.container-form{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 100px;
    margin-top: 50px;
}

.container-form h2{
    margin-bottom: 15px;
    font-size: 35px
}
.container-form p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.container-form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}
.container-form a i{
    color: orange;
    margin-right: 10px;
}
.container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}
.container-form form textarea{
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}
.container-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: orange;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}

.container-form .btn-borrar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: orange;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}

.container-form .btn-enviar:hover{
    background: #e39403;
}

.container-form .btn-borrar:hover{
    background: #e39403;
}

/* NOSOTROS */


.contenedorNos{
    display: grid;
    grid-template-areas: "imagen1 imagen2"
                         "titulo1 titulo2"
                         "titulo3 titulo4";
    margin-bottom: $tamaño-5;
    gap: $tamaño-4;
    text-align: $just-text-1;

    .imgCardnos2{
        grid-area: imagen2;
    }

    .bloques1{
        grid-area: titulo1;
        padding: $tamaño-1;
    }
    
    .bloques2{
        grid-area: titulo2;
        padding: $tamaño-1;
    }
    
    .bloques3{
        grid-area: titulo3;
        padding: $tamaño-1;
    }
    
    .bloques4{
        grid-area: titulo4;
        padding: $tamaño-1;
    }
    .tituloNos{
        background-color: aquamarine;
        border-radius: 11rem;
        padding: 0.7rem;
        display: inline-block;
        margin-bottom: $tamaño-1;
    }
    .parrafo{
        text-align: justify;
    }
}

.imagenNos{
    text-align: center;
    row-gap: 2rem;
    display: flex;
    margin-bottom: 2rem;
    justify-content: space-around;
    .imgCardnos1{
        width: 30vw;
        margin-top: 70px;
        border-radius: 20px;
    } 
    .imgCardnos2{
        width: 30vw;
        margin-top: 70px;        
        border-radius: 20px;
    }
}


/* media de nosotros */

@media screen and (min-width:320px) {
    .contenedorNos{
        grid-template-areas: "imagen1"
                             "imagen2"
                             "titulo1" 
                             "titulo2"
                             "titulo3" 
                             "titulo4";
    margin: $tamaño-2;
    }    
}

@media screen and (min-width:600px) {
    .contenedorNos{
        grid-template-areas: "imagen1"
                            "imagen2"
                            "titulo1" 
                            "titulo2"
                            "titulo3" 
                            "titulo4";
    margin: $tamaño-4;          
    }    
}


@media screen and (min-width:1024px) {
    .contenedorNos{
        grid-template-areas: "imagen1 imagen"
                             "titulo1 titulo2"
                             "titulo3 titulo4";
    }    
}

/* PREGUNTAS FRECUENTES */

.contenedorPr{
    margin-bottom: $tamaño-5;
    display: grid;
    grid-template-areas: "fila1"
                         "fila2"
                         "fila3"
                         "fila4";
    gap: 2rem;
    margin-left: $tamaño-6;
    margin-right: $tamaño-6;
    margin-top: $tamaño-6;
    
    .contePr01{
        grid-area: fila1;
        background-color: beige;
    }
    
    .contePr02{
        grid-area: fila2;
        background-color: beige;
    }
    
    .contePr03{
        grid-area: fila3;
        background-color: beige;
    }
    
    .contePr04{
        grid-area: fila4;
        background-color: beige;
    }
    .preguntas{
        text-align: left;
        margin: 10px;
        padding: 5px;
    }
    
    .parrafo-p{
        text-align: $just-text-2;
        line-height: 20px;
        margin: 10px;
    }
}

/* media de preguntas */

@media screen and (min-width:320px){
    .contenedorPr{
        grid-template-areas: "fila1" 
                             "fila2"
                             "fila3"
                             "fila4";
    margin: $tamaño-3;
    }
}

@media screen and (min-width:600px){
    .contenedorPr{
        grid-template-areas: "fila1" 
                             "fila2"
                             "fila3"
                             "fila4";
    margin: $tamaño-4;
    }
}
@media screen and (min-width:1024px){
    .contenedorPr{
        grid-template-areas: "fila1" 
                             "fila2"
                             "fila3"
                             "fila4";
    margin: $tamaño-6;
    }
}

 /* footer */

.pie-pagina{
    width: 100%;
    background-color: violet;
}

.box{
    text-align: center;
    padding-top: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
    color: whitesmoke;
    margin-bottom: 1rem;
    background-color: tomato;
}

.pie-pagina .grupo-1 .red-social ul li{
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center;
}

.pie-pagina .grupo-1 .red-social ul li a{
    display: block;
    padding: 0 10px;
    background: #333;
    color: #fff;
    line-height: 50px;
    border-radius: 25px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px rgba(0,0,0, .2);
    transition: .2;
}

.pie-pagina .red-social ul:hover a{
    filter: blur(2px);
}

.pie-pagina .red-social ul li a:hover{
    transform: translateY(-2px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0,0,0, .4);
    filter: none;
}

.pie-pagina .red-social ul li .facebook:hover{
    background: #3b5999;
}
.pie-pagina .red-social ul li .instagram:hover{
    background: #e4405f;
}
.pie-pagina .red-social ul li .twitter:hover{
    background: #55acee;
}

.pie-pagina .grupo-2{
    background-color: rgb(70, 61, 61);
    padding: 1rem 1rem;
    text-align: center;
    color: white;
}

.pie-pagina .grupo-2 small{
    font-size: 1rem;
}

@media screen and (min-width:320px){
    .pie-pagina .grupo-1{
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
    } 
}

@media screen and (min-width:600px){
    .pie-pagina .grupo-1{
    grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width:1024px){
    .pie-pagina .grupo-1{
    grid-template-columns: repeat(2, 1fr);
    } 
}