// modifiicacion de productos 

// import

@import "utilities/variables";

/* PRODUCTOS */

// nesting

/* main */

.contenedor{
    display: grid;
    grid-template-areas: "prod1 prod2 prod3"
                         "prod4 prod5 prod6";
    justify-content: center;
    margin-top: $tamaño-3;
    margin-bottom: $tamaño-5;
    gap: $tamaño-1;
    text-align: $just-text-1;
    .cardCard01{
        grid-area: prod1;
        background-color: $color-1;
        padding: $tamaño-2;
        border-radius: 10px;
    }
    
    .cardCard02{
        grid-area: prod2;
        background-color: $color-1;
        padding: $tamaño-2;
        border-radius: 10px;
    }
    
    .cardCard03{
        grid-area: prod3;
        background-color: $color-1;
        padding: $tamaño-2;
        border-radius: 10px;
    }
    
    .cardCard04{
        grid-area: prod4;
        background-color: $color-1;
        padding: $tamaño-2;
        border-radius: 10px;
    }
    
    .cardCard05{
        grid-area: prod5;
        background-color: $color-1;
        padding: $tamaño-2;
        border-radius: 10px;
    }
    
    .cardCard06{
        grid-area: prod6;
        background-color: $color-1;
        padding: 1.5rem;
        border-radius: 10px;
    }
    
    .contextCard{
        margin-top: $tamaño-2;
        
    }
    
    .imgCard{
        width: ($imagen-1) - 5;
    }
    
    .imgCard:hover{
        transform: scale(1.2);
        transition: 0.5s;
    }
    
    .botonComprar{
        margin-top: $tamaño-1;
        padding: ($tamaño-1) / 2;
    }
    
    .contenedorBoton{
        text-align: $just-text-1;
    }
}   h3{
    font-size: $tamaño-1;

}
 /* footer */

footer{
    text-align: center;
    background-color: skyblue;
    padding: 15px; 
}


 /* media de productos */

@media screen and (min-width:320px) {
    .contenedor{
        display: grid;
        grid-template-areas: "prod1" 
                             "prod2" 
                             "prod3"                        
                             "prod4" 
                             "prod5" 
                             "prod6";
        row-gap: $tamaño-1;

    }

}

@media screen and (min-width:600px) {
    .contenedor{
        display: grid;
        grid-template-areas: "prod1 prod2" 
                             "prod3 prod4" 
                             "prod5 prod6";
        row-gap: $tamaño-1;
    }

}



@media screen and (min-width:1024px) {
    .contenedor{
        display: grid;
        grid-template-areas: "prod1 prod2 prod3"
                             "prod4 prod5 prod6";
    }
}





